@import "reset";
@import "mixins";


html {

}

body {
	font-family: ;
	color: white;
	-webkit-font-smoothing: antialiased;
	font: 500 20px/30px "museo-sans-rounded", sans-serif;
	color: #969696;
	background: #eaeaea;
}
