@import "reset";
@import "mixins";
@import "misc";

html {

}

body {
	font-family: ;
	color: white;
	-webkit-font-smoothing: antialiased;
	font: 500 15px/22px "museo-sans-rounded", sans-serif;
	color: #969696;
	background: #eaeaea;
}

a {
	color: #969696;
	text-decoration: none;
	&:hover {
		color: #4b4b4b;
	}
}



#container {
	width: 854px;
	margin: 20px auto 20px auto;
}

.video-placeholder {
	width: 854px;
	height: 510px;
	background: white;
	margin: 0 0 20px 0;
}

.language-tracks {
	.border-radius(20px);
	background: white;
	padding: 10px;
	position: relative;
}

.language-track-list {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	word-spacing: -0.3em;
	padding-left: 100px;
	.border-radius(15px);
	
	.language-track {
		
		background: #f2f2f2;
		//.border-radius(15px);
		height: 100px;
		margin: 0 0 10px 0;
		&.original {
			.track-segment {
				border-right: 2px solid @blue;
				&.recorded {
					background: #b1eaff;
					&:hover {
						cursor: pointer;
						background: #a0e3fc;
					}
					&:active {
						background: #b1eaff;
					}
				}
				&.recording {
					background: url("/images/soundwave-blue.png") repeat-x #b1eaff;
				}
				.text p {
					color: #2694b3;
				}
			}
		}
		&.translation {
			.track-segment {
				border-right: 2px solid @orange;
				//background: #ffe1a4;
				.btn {
					&[disabled] {
						background: #e6e6e6;
						color: #d2d2d2;
					}
				}
				&.recorded {
					
					&:hover {
						cursor: pointer;
						background: #ffdd97;
					}
					&:active {
						background: #ffe1a4;
					}
				}
				&.recording {
					background: url("/images/soundwave-orange.png") repeat-x #ffe1a4;
				}
				.text p {
					color: #f18300;
				}
			}
		}
	}
}

.track-label {
	width: 100px;
	height: 100px;
	background: #f2f2f2;
	position: absolute;
	left: 10px;
	font-size: 13px;
	text-align: center;
	
	&.original {
		top: 10px;
		.border-radius(15px 0 0 0);
	}
	&.translation {
		top: 120px;
		
	}
	.flag {
		margin: 15px auto 5px auto;
	}
}

.track-segments {
	.clearfix();
	
	.track-segment {
		display: inline-block;
		vertical-align: top;
		height: 100px;
		word-spacing: 0;
		font-size: 15px;
		line-height: 20px;
		white-space: normal;
		.text {
			display: table;
			width: 100%;
			height: 100px;
		}
		p {
			display: table-cell; 
			vertical-align: middle; 
			text-align: center;
			padding: 0 10px;
		}
		&.empty {
			border-right: none !important;
		}
		.btn {
			//margin: 0 10px;
		}
	}
}

.toggle-vkeyboard {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 36px;
	width: 36px;
	line-height: 36px;
	text-align: center;
	background: #dcdcdc;
	.border-radius(30px);
	color: #4b4b4b;
	border: none;
	&:hover {
		background: #cbcbcb;
	}
}

.vkeyboard {
	background: #e7e7e7;
	.border-radius(0 0 10px 10px);
	.box-sizing(border-box);
	.clearfix();
	padding: 10px;
	margin: -25px 0 25px 0;
	.key {
		.border-radius(30px);
		height: 26px;
		width: 26px;
		line-height: 26px;
		.box-shadow(0 2px 7px rgba(0,0,0,0.1));
		text-align: center;
		color: #4b4b4b;
		background: white;
		border: none;
		margin: 0 5px 0 0;
		float: left;
		&:hover {
			background: @blue;
			color: white;
		}
	}
}

.flag {
	width: 50px;
	height: 50px;
	background-size: cover;
	&.flag-fr {
		background-image: url("/images/flag-fr.png");
	}
	&.flag-en {
		background-image: url("/images/flag-en.png");
	}
}


.popover {
	.box-sizing(border-box);
	width: 420px;
	padding: 25px;
	background: white;
	.border-radius(20px);
	.box-shadow(0 3px 20px rgba(0,0,0,0.15));
	position: absolute;
	textarea {
		width: 100%;
		margin: 0 0 25px 0;
		padding-right: 50px;
		resize:vertical;
		.border-radius(10px 10px 0 0);
	}
	.secondary-action {
		.clearfix();
		margin: 0 0 30px 0;
	}
	.skip {
		.icon-next-arrow {
			position: relative;
			top: -2px;
			margin: 0 0 0 3px;
		}
		&:hover {
			.icon-next-arrow {
				opacity: 1;
			}
		}
	}
	.action {
		.clearfix();
	}
	.play-again {
		.icon-replay {
			margin: -2px 2px 0 -9px;
		}
	}
	.play-again-slower {
		.icon-replay-slower {
			margin: -2px -5px 0 -8px;
		}
	}
	.close {
		width: 25px;
		height: 25px;
		background: url("/images/icon-close.png");
		background-size: cover;
		position: absolute;
		right: 22px;
		top: 22px;
		opacity: 0.2;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}
}


.hintable {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted #cdcdcd;
	&:hover {
		color: #4b4b4b;
		cursor: default;
	}
}

.hint {
	position: absolute;
	color: #4b4b4b;
	text-align: center;
	background: white;
	font-size: 15px;
	.border-radius(10px);
	.box-shadow(0 4px 15px rgba(0,0,0,0.2));
	.list-hints {
		>li {
			min-width: 80px;
			padding: 6px 20px;
			border-top: 1px solid #ededed;
			&:first-child {
				border-top: none;
			}
		}
	}
}

